.blogs {
	&__title {
		margin-bottom: var(--mb-2);
	}
	&__container {
		grid-template-columns: 1fr;
		gap: var(--grid-gap);
		@media screen and (min-width: 651px) {
			grid-template-columns: repeat(2, minmax(262px, 1fr));
		}
		@media screen and (min-width: 1100px) {
			grid-template-columns: repeat(3, minmax(262px, 1fr));
		}
	}
	&__item {
		&--img {
			width: 100%;
			height: auto;
			max-height: 240px;
			object-fit: cover;
			object-position: center;
			margin-bottom: var(--mb-1-5);
		}
		&--title {
			font-family: "NotoSerif", serif;
			font-weight: var(--font-medium);
			letter-spacing: 1px;
			margin-bottom: var(--mb-1);
		}
		&--descr {
			margin-bottom: var(--mb-2);
		}
		&--button {
			border: none;
			padding-left: 0;
			color: var(--first-color);
			text-transform: capitalize;
		}
	}
}
