/*=============== FOOTER ===============*/
.footer {
	background-color: ver(--footer-color-bg);
	&__container {
		grid-template-columns: minmax(260px, 1fr);
		gap: var(--grid-gap);
		@media screen and (min-width: 1200px) {
			grid-template-columns: 1fr repeat(2, 150px) 0.5fr 2fr;
		}
	}
	&__title {
		font-size: var(--normal-font-size);
		font-weight: var(--font-medium);
		letter-spacing: 1px;
		margin-bottom: var(--mb-1-5);
	}
	&__information,
	&__link {
		font-weight: 400;
		font-size: var(--smaller-font-size);
		line-height: 14px;
	}
	&__information {
		margin-bottom: var(--mb-1);
	}
	&__link {
		display: block;
		margin-bottom: var(--mb-0-75);
	}
	&__data {
		display: grid;
		row-gap: 0.75rem;
	}
	&__social {
		display: inline-flex;
		column-gap: 0.75rem;

		&-link {
			font-size: 1rem;
			color: var(--text-color);
			transition: 0.3s;

			&:hover {
				transform: translateY(-0.25rem);
			}
		}
	}
	&__cards {
		display: inline-flex;
		align-items: center;
		column-gap: 0.5rem;
	}
	&__subscribe {
		background-color: #fff;
		padding: 0.1rem;
		display: flex;
		justify-content: space-between;
		border-radius: 7px;
	}
	&__input {
		width: 70%;
		padding: 0 0.8rem;
		background: none;
		color: var(--body-color);
		border: none;
		outline: none;
	}
	&__button {
		padding: 0.4rem 1.2rem;
		border-radius: 5px;
		background-color: #fff3ea;
	}
	&__copy {
		text-align: center;
		font-size: var(--smaller-font-size);
		color: var(--text-color);
		margin: 2rem 0 1rem;
	}
}
