/*=============== HOME ===============*/
.home {
	padding: 3.5rem 0 2rem;

	&__container {
		position: relative;
		row-gap: 2rem;
	}
	&__img {
		width: 200px;
		justify-self: center;
	}
	&__title {
		font-size: var(--big-font-size);
		line-height: 140%;
		max-width: 840px;
		margin-bottom: var(--mb-1);
	}
	&__description {
		margin-bottom: var(--mb-2-5);
	}
}
