<section class="bestseller section" id="shop">
	<div class="bestseller__top">
		<h2 class="section__title-center bestseller__title container">
			Our best seller
		</h2>
		<div class="bestseller__filter--buttons">
			<div class="button__filter button">Floor lamps</div>
			<div class="button__filter button button--empty">Indor</div>
			<div class="button__filter button button--empty">Outdoor</div>
		</div>
	</div>
	<div class="bestseller__container container grid">
		<div class="bestseller__item">
			<div class="bestseller__item--addcart">
				<svg>
					<use xlink:href="img/sprite.svg#basket"></use>
				</svg>
			</div>
			<img src="./img/best/best-1.png" alt="" class="bestseller__item--img">
			<div class="bestseller__item--title">Silk Drum Lamp Shade</div>
			<div class="bestseller__item--price">
				$<span class="current-price">20.00</span>
			</div>
			<div class="bestseller__item--ellipses">
				<div class="ellipse__one"></div>
				<div class="ellipse__two active"></div>
				<div class="ellipse__three"></div>
			</div>
		</div>
		<div class="bestseller__item">
			<div class="bestseller__item--addcart">
				<svg>
					<use xlink:href="img/sprite.svg#basket"></use>
				</svg>
			</div>
			<img src="./img/best/best-2.png" alt="" class="bestseller__item--img">
			<div class="bestseller__item--title">Silk Drum Lamp Shade</div>
			<div class="bestseller__item--price">
				$<span class="current-price">15.00</span>
			</div>
			<div class="bestseller__item--ellipses">
				<div class="ellipse__one"></div>
				<div class="ellipse__two active"></div>
				<div class="ellipse__three"></div>
			</div>
		</div>
		<div class="bestseller__item">
			<div class="bestseller__item--addcart">
				<svg>
					<use xlink:href="img/sprite.svg#basket"></use>
				</svg>
			</div>
			<img src="./img/best/best-3.png" alt="" class="bestseller__item--img">
			<div class="bestseller__item--title">Silk Drum Lamp Shade</div>
			<div class="bestseller__item--price">
				$<span class="current-price">30.00</span>
			</div>
			<div class="bestseller__item--ellipses">
				<div class="ellipse__one"></div>
				<div class="ellipse__two active"></div>
				<div class="ellipse__three"></div>
			</div>
		</div>
		<div class="bestseller__item">
			<div class="bestseller__item--addcart">
				<svg>
					<use xlink:href="img/sprite.svg#basket"></use>
				</svg>
			</div>
			<img src="./img/best/best-4.png" alt="" class="bestseller__item--img">
			<div class="bestseller__item--title">Silk Drum Lamp Shade</div>
			<div class="bestseller__item--price">
				$<span class="current-price">75.00</span>
			</div>
			<div class="bestseller__item--ellipses">
				<div class="ellipse__one"></div>
				<div class="ellipse__two active"></div>
				<div class="ellipse__three"></div>
			</div>
		</div>
		<div class="bestseller__item">
			<div class="bestseller__item--addcart">
				<svg>
					<use xlink:href="img/sprite.svg#basket"></use>
				</svg>
			</div>
			<img src="./img/best/best-5.png" alt="" class="bestseller__item--img">
			<div class="bestseller__item--title">Silk Drum Lamp Shade</div>
			<div class="bestseller__item--price">
				$<span class="current-price">55.00</span>
			</div>
			<div class="bestseller__item--ellipses">
				<div class="ellipse__one"></div>
				<div class="ellipse__two active"></div>
				<div class="ellipse__three"></div>
			</div>
		</div>
		<div class="bestseller__item">
			<div class="bestseller__item--addcart">
				<svg>
					<use xlink:href="img/sprite.svg#basket"></use>
				</svg>
			</div>
			<img src="./img/best/best-6.png" alt="" class="bestseller__item--img">
			<div class="bestseller__item--title">Silk Drum Lamp Shade</div>
			<div class="bestseller__item--price">
				$<span class="current-price">80.00</span>
			</div>
			<div class="bestseller__item--ellipses">
				<div class="ellipse__one"></div>
				<div class="ellipse__two active"></div>
				<div class="ellipse__three"></div>
			</div>
		</div>
		<div class="bestseller__item">
			<div class="bestseller__item--addcart">
				<svg>
					<use xlink:href="img/sprite.svg#basket"></use>
				</svg>
			</div>
			<img src="./img/best/best-7.png" alt="" class="bestseller__item--img">
			<div class="bestseller__item--title">Silk Drum Lamp Shade</div>
			<div class="bestseller__item--price">
				$<span class="current-price">60.00</span>
			</div>
			<div class="bestseller__item--ellipses">
				<div class="ellipse__one"></div>
				<div class="ellipse__two active"></div>
				<div class="ellipse__three"></div>
			</div>
		</div>
		<div class="bestseller__item">
			<div class="bestseller__item--addcart">
				<svg>
					<use xlink:href="img/sprite.svg#basket"></use>
				</svg>
			</div>
			<img src="./img/best/best-8.png" alt="" class="bestseller__item--img">
			<div class="bestseller__item--title">Silk Drum Lamp Shade</div>
			<div class="bestseller__item--price">
				$<span class="current-price">99.00</span>
			</div>
			<div class="bestseller__item--ellipses">
				<div class="ellipse__one"></div>
				<div class="ellipse__two active"></div>
				<div class="ellipse__three"></div>
			</div>
		</div>
	</div>
</section>