<section class="bestseller section" id="shop">
	<h2 class="section__title-center bestseller__title container">
		Our best seller
	</h2>
	<div class="bestseller__filter--buttons">
		<div class="button__filter button">Floor lamps</div>
		<div class="button__filter button button--empty">Indor</div>
		<div class="button__filter button button--empty">Outdoor</div>
	</div>
	<div class="bestseller__container container grid">
		<div class="bestseller__item">
			<img src="./img/best/best-1.png" alt="" class="bestseller__item--img">
			<div class="bestseller__item--title">Silk Drum Lamp Shade</div>
			<div class="bestseller__item--price">
				$<span class="current-price">20.00</span>
			</div>
			<div class="bestseller__item--ellipses">
				<div class="ellipse__one"></div>
				<div class="ellipse__two active"></div>
				<div class="ellipse__three"></div>
			</div>
		</div>
		<div class="bestseller__item">
			<img src="./img/best/best-2.png" alt="" class="bestseller__item--img">
			<div class="bestseller__item--title">Silk Drum Lamp Shade</div>
			<div class="bestseller__item--price">
				$<span class="current-price">20.00</span>
			</div>
			<div class="bestseller__item--ellipses">
				<div class="ellipse__one"></div>
				<div class="ellipse__two active"></div>
				<div class="ellipse__three"></div>
			</div>
		</div>
		<div class="bestseller__item">
			<img src="./img/best/best-3.png" alt="" class="bestseller__item--img">
			<div class="bestseller__item--title">Silk Drum Lamp Shade</div>
			<div class="bestseller__item--price">
				$<span class="current-price">20.00</span>
			</div>
			<div class="bestseller__item--ellipses">
				<div class="ellipse__one"></div>
				<div class="ellipse__two active"></div>
				<div class="ellipse__three"></div>
			</div>
		</div>
	</div>
</section>