<section class="blogs section" id="blogs">
	<h2 class="section__title-center blogs__title container">
		Our blog
	</h2>
	<div class="blogs__container container grid">
		<div class="blogs__item">
			<img src="../img/blog/blog-1.jpg" alt="" class="blogs__item--img">
			<h3 class="blogs__item--title">Stacked rock lamp</h3>
			<p class="blogs__item--descr">
				Now days LED lights are generally utilized by&nbsp;individuals to&nbsp;spare nature and power. It&nbsp;helps
				carbon.
			</p>
			<div class="blogs__item--button button button--empty">Read more</div>
		</div>
		<div class="blogs__item">
			<img src="../img/blog/blog-2.jpg" alt="" class="blogs__item--img">
			<h3 class="blogs__item--title">Torchiere Lamp</h3>
			<p class="blogs__item--descr">
				Now days LED lights are generally utilized by&nbsp;individuals to&nbsp;spare nature and power. It&nbsp;helps
				carbon.
			</p>
			<div class="blogs__item--button button button--empty">Read more</div>
		</div>
		<div class="blogs__item">
			<img src="../img/blog/blog-3.jpg" alt="" class="blogs__item--img">
			<h3 class="blogs__item--title">Multi-Way or Tree Lamp</h3>
			<p class="blogs__item--descr">
				Now days LED lights are generally utilized by&nbsp;individuals to&nbsp;spare nature and power. It&nbsp;helps
				carbon.
			</p>
			<div class="blogs__item--button button button--empty">Read more</div>
		</div>
	</div>
</section>