<section class="collections section" id="featured">

	<div class="collections__container container grid">
		<div class="collections__item collections__list">
			<div class="collections__info">
				<h2 class="collections__title">
					New collections
				</h2>
				<p>Now days LED lights are generally utilized by&nbsp;individuals to&nbsp;spare nature and power. It&nbsp;helps
					to&nbsp;lessen carbon discharge that assumes an&nbsp;essential part to&nbsp;make environment contaminated.
				</p>
			</div>
			<div class="collections__item--content grid">
				<div class="lamp__card">
					<img src="./img/collections/coll-1.jpg" alt="" class="lamp__card--img">
					<div class="lamp__card--title">Desktop Grenade Lamp</div>
					<div class="lamp__card--price">
						$<span class="current-price">20.00</span>
					</div>
					<div class="lamp__card--button button button--empty">Buy now</div>
				</div>
				<div class="lamp__card">
					<img src="./img/collections/coll-2.jpg" alt="" class="lamp__card--img">
					<div class="lamp__card--title">Desktop Grenade Lamp</div>
					<div class="lamp__card--price">
						$<span class="current-price">20.00</span>
					</div>
					<div class="lamp__card--button button button--empty">Buy now</div>
				</div>
			</div>
		</div>
		<div class="collections__item">
			<img src="./img/collections/coll-big.jpg" alt="" class="collections__item--big-img">
		</div>
	</div>
</section>