<section class="collections section">

	<div class="collections__container container grid">
		<div class="collections__item">
			<h2 class="section__title-center collections__title container">
				New collections
			</h2>
			<p>Now days LED lights are generally utilized by individuals to spare nature and power. It helps to lessen carbon
				discharge
				that assumes an essential part to make environment contaminated.</p>
			<div class="collections__item--content grid">
				<div class="lamp__card">
					<img src="./img/collections/coll-1.jpg" alt="" class="lamp__card--img">
					<span class="lamp__card--title">Desktop Grenade Lamp</span>
					<div class="lamp__card--price">
						$<span class="current-price">20.00</span>
					</div>
				</div>
				<div class="lamp__card">
					<img src="./img/collections/coll-2.jpg" alt="" class="lamp__card--img">
					<span class="lamp__card--title">Desktop Grenade Lamp</span>
					<div class="lamp__card--price">
						$<span class="current-price">20.00</span>
					</div>
				</div>
			</div>
		</div>
		<div class="collections__item">

		</div>
	</div>
</section>