<section class="lampoffer section">
	<div class="lampoffer__container container grid">
		<div class="lampoffer__item">
			<img src="./img/lamp-1.jpg" alt="" class="lampoffer__item--img">
			<div class="lampoffer__item--content">
				<p class="lampoffer__item--descr">New Arrivals</p>
				<h3 class="lampoffer__item--title">Sale Up To 80% Off</h3>
				<a href="#" class="lampoffer__item--link">
					View Collection
					<span class="link--icon">
						<svg>
							<use xlink:href="img/sprite.svg#arrow"></use>
						</svg>
					</span>
				</a>
			</div>
		</div>
		<div class="lampoffer__item">
			<img src="./img/lamp-2.jpg" alt="" class="lampoffer__item--img">
			<div class="lampoffer__item--content">
				<p class="lampoffer__item--descr">New Arrivals</p>
				<h3 class="lampoffer__item--title">Sale Up To 70% Off</h3>
				<a href="#" class="lampoffer__item--link">
					View Collection
					<span class="link--icon">
						<svg>
							<use xlink:href="img/sprite.svg#arrow"></use>
						</svg>
					</span>
				</a>
			</div>
		</div>
	</div>
</section>