.lampoffer {
  margin-top: -6rem;
  background-color: var(--body-color);
}

.lampoffer__container {
  -ms-grid-columns: minmax(260px,1fr);
  grid-template-columns: minmax(260px,1fr);
  gap: var(--grid-gap);
}

.lampoffer__item {
  position: relative;
  height: 49vw;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.lampoffer__item--img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 2;
}

.lampoffer__item--content {
  z-index: 3;
}

.lampoffer__item--descr,
.lampoffer__item--link,
.lampoffer__item--title {
  font-family: NotoSerif,serif;
}

.lampoffer__item--title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1);
}

.lampoffer__item--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.lampoffer__item--link .link--icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 18px;
  flex: 0 0 18px;
  margin-left: var(--mb-0-75);
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--first-color);
  border-radius: 50%;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.lampoffer__item--link .link--icon svg {
  width: 13px;
  height: 9px;
}

.lampoffer__item--link:hover {
  -webkit-transform: translateX(.5rem);
  -ms-transform: translateX(.5rem);
  transform: translateX(.5rem);
}

.lampoffer__item--link:hover .link--icon {
  -webkit-box-shadow: -4px 0 4px #fff;
  box-shadow: -4px 0 4px #fff;
  -webkit-transform: translateX(4px);
  -ms-transform: translateX(4px);
  transform: translateX(4px);
}

@media screen and (min-width:580px) {
  .lampoffer {
    margin-top: -3.5rem;
  }

  .lampoffer__container {
    -ms-grid-columns: (minmax(260px,1fr))[2];
    grid-template-columns: repeat(2,minmax(260px,1fr));
  }

  .lampoffer__item {
    height: 24vw;
  }
}

@media screen and (min-width:768px) {
  .lampoffer__item:hover {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}